outputs/
label_emb_generate.py
infer.sh
train_second_stage.sh
train_first_stage.sh
NUS-WIDE/
logs/
pretrained_weights/
pretrained_weights
tmp/

dbs/
__pycache__/
.vscode/
_cache/


_*/
.*/
figures/
*log
*out
run*.log
run.log*
run.log
*npy
*svg
fmaps/
visualization/
